$main-color: #CB0D1F;
$title-color:#ED1A39;
$subtitle-color:#1E2B50;
$primary-color:#00A8A9;
$gray-color:#ACACAC;
$ligth-gray-color:#E2DEDC;
$dark-gray-color:#626262;
$medium-font-size:16px;
$medium-large-font-size:18px;
$large-font-size:24px;
$dark-color:#231f20;
$extra-large-font-size:32px;
$small-font-size:11px;
$main-border: 1px solid #E2DEDC;