@import '_variables.scss';

.product-section {
    h2 {
        color: $title-color;
        font-size: $extra-large-font-size;
        margin-bottom: 1rem;
    }

    .options {
        display: flex;
        justify-content: space-between;

        i {
            font-size: $large-font-size;
            margin-right: 5px;
            margin-top: 5px;
        }

        label {
            font-size: $small-font-size;
            color: $gray-color;
        }

        select {
            margin-top: 5px;
            width: 216px;
            border: $main-border;
            font-size: 14px;
            padding: 2px;
            box-sizing: border-box;
        }

    }
    .product-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-around;

        .cardProduct {
            text-align: center;
            text-transform: uppercase;
            margin-top: 10px;

            p {
                font-size: 21px;
                font-weight: bolder;
                color: $subtitle-color;
            }

            .price-content {
                display: flex;
                justify-content: center;
                flex-direction: row-reverse;

                :nth-child(2) {
                    font-size: $medium-font-size;
                    color: $gray-color;
                    margin-right: 10px;
                    text-decoration: line-through;
                }
            }

            figure {

                figcaption {
                    margin-top: 10px;
                    color: $dark-gray-color;
                    font-size: $medium-font-size;
                }
            }

            a {
                display: block;
                background-color: $primary-color;
                padding: 10px;
                box-sizing: border-box;
                text-decoration: none;
                color: #fff;
                font-size: $medium-large-font-size;
                border-radius: 5px;
                font-weight: bolder;
            }


            img {
                border: $main-border;
                object-fit: contain;
                width: 250px;
                height: 250px;
                padding: 5px;
            }

        }

    }

    @media screen and (min-device-width: 320px) and (max-device-width: 767px) {

        h2{
            text-align: center;
        }
        .product-content{
            justify-content: space-around;
        }
        
        .price-content{
            flex-direction: column-reverse !important;
        }
        .cardProduct{
            a{
                display: none !important;
            }
        }
        .options {
            .icon {
                display: none;
            }

            justify-content: center;
        }
    }
}